body{
margin:0px;}
#main{
width:100%;
height:1000px;
background-color:black;}
#h1{
	z-index:10;
position:absolute;
top:100px;
left:50px;
height:500px;
width:300px;
background-color:green;}
#h2{
	z-index:10;
position:absolute;
top:100px;
left:400px;
height:500px;
width:300px;
background-color:green;}
#h3{
position:absolute;
top:100px;
z-index:10;
left:750px;
height:500px;
width:300px;
background-color:green;}
#h11{
width:300px;
height:100px;
z-index:10;
background-color:red;
position:absolute;}
#h12{
width:300px;
height:400px;
position:absolute;z-index:10;
}
#h21{
width:300px;
height:100px;
background-color:red;
position:absolute;z-index:10;
}
#h22{
width:300px;
height:400px;
position:absolute;z-index:10;
}
#h31{
width:300px;
height:100px;
background-color:red;
position:absolute;
z-index:10;}
#h32{
width:300px;
height:400px;
position:absolute;z-index:10;
}
#x{
color:white;
position:absolute;
font-family:verdana;
font:20px;
left:80px;
top:225px;
z-index:10;
}
#y{
color:white;
position:absolute;
font-family:verdana;
font:20px;
left:430px;
top:225px;
z-index:10;
}
#z{
color:white;
position:absolute;
font-family:verdana;
font:20px;
left:780px;
top:225px;
z-index:10;
}
#header{
position:fixed;
background-color:gray;
width:100%;
height:100px;
z-index:50;

}
